* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.preloader {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.header__container {
  height: 70px;
  margin: 0 105px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.header__left {
  a {
    font-size: 32px;
    font-weight: 600;
    color: #fff;

    span {
      font-weight: 300;
    }
  }
}

.header__right {
  height: 100%;

  .navbar-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  ul > li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item {
    position: relative;

    a {
      padding: 0 12px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      transition: width 0.3s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 18px;
      left: 50%;
      height: 2px;
      width: 0;
      background: #fff;
      transform: translateX(-50%);
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      a {
        color: rgba(250, 250, 250, 0.75);
      }

      &:after {
        background: rgba(250, 250, 250, 0.75);
        width: 80%;
      }
    }

    &.active {
      .btn-download {
        color: #000;
      }

      a {
        color: rgba(250, 250, 250, 0.75);
      }

      &:after {
        background: rgba(250, 250, 250, 0.75);
        width: 80%;
      }
    }

    &--clear {
      list-style: none;
      margin-left: 20px;
      .btn-download {
        border-radius: 17px;
        padding: 0.4rem 1.2rem;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        background: #fff;
      }
    }
  }
}

.bg-mask {
  position: absolute;
  width: 100%;
  height: 800px;
  opacity: 0.5;
  background-color: #4843d2 !important;
  z-index: 1;
}

.section__home {
  height: 800px;
  background-image: url("https://harnishdesign.net/demo/html/mxapp/images/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.home__container {
  position: relative;
  padding-top: 150px;
  height: 100%;
  z-index: 2;

  &__text {
    text-align: center;

    .text__slogan {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
    }

    .text__title {
      font-size: 52px;
      font-weight: 600;
      margin: 15px 0 10px 0;
    }

    .text__sub {
      font-size: 20px;
      font-weight: 300;
    }
  }

  &__image {
    width: 240px;
    height: 480px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);

    img {
      object-fit: contain;
    }
  }
}

.section__about {
  .about__container {
    color: #000;
    margin: 100px 110px 0 110px;
  }

  .about__text {
    text-align: center;

    .text__title {
      position: relative;
      font-size: 36px;
      font-weight: 600;

      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 50px);
        height: 2px;
        width: 100px;
        background: #4843d2;
      }
    }

    .text__sub {
      margin-top: 30px;
      font-size: 1.25rem;
      font-weight: 300;
      color: #4c4d4d;
    }
  }

  .about__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
  }

  .about__item {
    flex: 1 1 400px;
    display: flex;

    &.left {
      justify-content: flex-end;
    }

    &.right {
      justify-content: flex-start;
      flex-direction: column;

      h3 {
        font-size: 24px;
        font-weight: 500;
      }

      p {
        color: #4c4d4d;
        line-height: 28px;
        margin-top: 15px;
      }
    }

    &__button {
      margin-top: 20px;
      display: flex;
      gap: 10px;

      a {
        height: 55px;
      }
    }
  }
}

.container {
  color: #000;
  margin: 100px 110px 0 110px;

  .text {
    text-align: center;

    .title {
      position: relative;
      font-size: 36px;
      font-weight: 600;

      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 50px);
        height: 2px;
        width: 100px;
        background: #4843d2;
      }
    }

    .sub {
      margin-top: 30px;
      font-size: 1.25rem;
      font-weight: 300;
      color: #4c4d4d;
    }
  }
}

.section__feature {
  .feature__row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .item {
    flex: 1 1;

    &.image {
      display: flex;
      justify-content: center;

      img {
        object-fit: contain;
      }
    }
  }

  .item.left {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .item__feature {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .feature__text {
        width: 80%;
        text-align: end;

        h3 {
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          color: #4c4d4d;
          line-height: 28px;
        }
      }

      .feature__icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #e9ecef;
        line-height: 70px;
        font-size: 26px;
        text-align: center;
        color: #4c4d4d;
      }
    }
  }

  .item.right {
    @extend .left;

    .item__feature {
      flex-direction: row-reverse;
    }
    .item__feature .feature__text {
      text-align: start;
    }
  }
}
