
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #43389f;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  font-family: 'Courier New', 'Courier', sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.big {
  margin-top: 5px;
  display: block;
  position: relative;
  font-size: 82px;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: 700;
}

.small {
  position: relative;
  display: block;
  font-size: 23px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.number {
  position: relative;
  width: 200px;
  height: 100px;
}

.number .one-one {
  position: absolute;
  width: 20px;
  height: 40px;
  background: #fff;
  border-radius: 3px;
  rotate: 50deg;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  left: -16px;
  z-index: 9;
}

.number .one-two {
  position: absolute;
  width: 24px;
  background: #fff;
  height: 100px;
  border-radius: 3px;
  top: 0;
  left: 0;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.number .zero-one, .number .zero-two {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 24px solid #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  left: 17px;
  z-index: 9;
}

.number .zero-two {
  left: 100px;
  z-index: 8;
}