.frame {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background: #000;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  filter: contrast(25);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  position: relative;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  filter: blur(15px);
}

@for $i from 1 through 8 {
  .blubb-#{$i} {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    transform: rotate(random(300) + deg);

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      filter: blur(5px);
      transform-origin: (40 -$i * 3) + px (40 - $i * 3) + px;
      animation: rotate (2.5 + $i/5) + s ease-in-out ($i/5) + s infinite;
    }
  }
}

@for $i from 1 through 10 {
  .sparkle-#{$i} {
    position: absolute;
    top: 38px;
    left: 38px;
    width: (7 + $i) + px;
    height: (7 + $i) + px;
    transform: rotate((random(300)) + deg);

    &:after {
      position: absolute;
      display: block;
      content: "";
      width: (7 + $i) + px;
      height: (7 + $i) + px;
      background: #fff;
      border-radius: 50%;
      filter: blur(5px);
      transform-origin: (60 - $i * 2) + px (60 - $i * 2) + px;
      animation: rotate (3.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
